<a href="https://colab.research.google.com/github/jvidorreta/TFG_SDG_JVID/blob/dev/TFG_SDG_JVID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np

file_path = '/content/drive/MyDrive/Colab Notebooks/BBDD-Local.xlsx'

df = pd.read_excel(file_path,sheet_name='C_BBDD')

In [23]:
df.info() #muestra información sobre el tipo de datos de las columnas, el número de filas y cuántos valores nulos hay en el DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16041 entries, 0 to 16040
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        16041 non-null  int64
 1   Tipo                      16041 non-null  object
 2   Categoría                 1147 non-null   object
 3   Categoría.1               7555 non-null   object
 4   Categoría.2               3392 non-null   object
 5   Categoría Final           16041 non-null  object
 6   Fecha de creación         16041 non-null  datetime64[ns]
 7   Fecha solución propuesta  14606 non-null  datetime64[ns]
 8   Subcategoría              7555 non-null   object
 9   Fecha de modificación     16041 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(1), object(6)
memory usage: 1.2+ MB

In [24]:
print(df.shape) #Muestra el nº de filas y columnas en la BBDD

(16041, 10)

In [25]:
df.describe(include = 'all') #Muestra una descripción por columnas de la BBDD

<ipython-input-25-71966d3f17ce>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include = 'all') #Muestra una descripción por columnas de la BBDD

,ID,Tipo,Categoría,Categoría.1,Categoría.2,Categoría Final,Fecha de creación,Fecha solución propuesta,Subcategoría,Fecha de modificación
count,1.604100e+04,16041,1147,7555,3392,16041,16041,14606,7555,16041
unique,NaN,7,3,6,2,15,15867,1691,13,13529
top,NaN,Herramientas,Extracción de datos,Uso de QLIK SENSE,Consulta sobre el modelo de datos,Uso de QLIK SENSE,2016-12-27 10:34:00,2021-08-01 12:00:00,Accesos,2022-11-16 11:30:00
freq,NaN,7555,774,3950,3077,3950,3,166,4634,12
first,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-23 10:22:00,2016-09-16 12:00:00,NaN,2016-09-01 16:14:00
last,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-30 14:32:00,2022-12-30 12:00:00,NaN,2022-12-31 09:50:00
mean,8.369551e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.238160e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.783170e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6.351280e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.832230e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.028164e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.165252e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


Por defecto solo muestra las que contienen numeros, para que muestre todo hace falta incluir el (include = 'all')


Este método te proporciona un resumen estadístico de las columnas numéricas de un DataFrame, incluyendo la media, la desviación estándar, la mediana, los cuartiles, el mínimo y el máximo.

In [26]:
print(df.columns) #Muestra los nombres de las columnas en un DataFrame.

Index(['ID', 'Tipo', 'Categoría', 'Categoría.1', 'Categoría.2',
       'Categoría Final', 'Fecha de creación', 'Fecha solución propuesta',
       'Subcategoría', 'Fecha de modificación'],
      dtype='object')

In [27]:
print(df["ID"].value_counts())

1165252    1
727747     1
728614     1
728573     1
728572     1
          ..
984860     1
984859     1
984853     1
984849     1
378317     1
Name: ID, Length: 16041, dtype: int64

In [28]:

df['Fecha de creación'] = pd.to_datetime(df['Fecha de creación'], format='%d/%m/%Y %H:%M')
df['Fecha solución propuesta'] = pd.to_datetime(df['Fecha solución propuesta'], format='%d/%m/%Y %H:%M')
df['Fecha de modificación'] = pd.to_datetime(df['Fecha de modificación'], format='%d/%m/%Y %H:%M')
#Cambiamos el formato del df de las fechas de un formato que no lo reconoce jupyter notebook a un formato 
# que si reconoce y entonces podemos pasar ya a un mejor analisis

In [29]:
df.describe #ahora si que reconoce la fecha de creacion/resolucion con formato de fecha

<bound method NDFrame.describe of             ID               Tipo            Categoría        Categoría.1  \
0      1165252       Extracciones  Extracción de datos                NaN
1      1165248       Extracciones  Extracción de datos                NaN
2      1165245     Gestión de KDE                  NaN                NaN
3      1165034       Herramientas                  NaN  Uso de QLIK SENSE
4      1164938       Herramientas                  NaN  Uso de QLIK SENSE
...        ...                ...                  ...                ...
16036   380375  Permisos Datapool                  NaN                NaN
16037   380373    Modelo de Datos                  NaN                NaN
16038   378538  Permisos Datapool                  NaN                NaN
16039   378533    Modelo de Datos                  NaN                NaN
16040   378317    Modelo de Datos                  NaN                NaN

                             Categoría.2                    Categoría Final  \
0                                    NaN                Extracción de datos
1                                    NaN                Extracción de datos
2                                    NaN                     Gestión de KDE
3                                    NaN                  Uso de QLIK SENSE
4                                    NaN                  Uso de QLIK SENSE
...                                  ...                                ...
16036                                NaN                  Permisos Datapool
16037  Consulta sobre el modelo de datos  Consulta sobre el modelo de datos
16038                                NaN                  Permisos Datapool
16039  Consulta sobre el modelo de datos  Consulta sobre el modelo de datos
16040  Consulta sobre el modelo de datos  Consulta sobre el modelo de datos

        Fecha de creación Fecha solución propuesta    Subcategoría  \
0     2022-12-30 14:32:00                      NaT             NaN
1     2022-12-30 14:23:00                      NaT             NaN
2     2022-12-30 14:11:00                      NaT             NaN
3     2022-12-30 01:09:00                      NaT         Accesos
4     2022-12-29 17:17:00                      NaT  Recarga Stream
...                   ...                      ...             ...
16036 2016-09-01 15:01:00                      NaT             NaN
16037 2016-09-01 15:00:00                      NaT             NaN
16038 2016-08-24 09:31:00                      NaT             NaN
16039 2016-08-24 09:16:00                      NaT             NaN
16040 2016-08-23 10:22:00                      NaT             NaN

      Fecha de modificación
0       2022-12-30 15:19:00
1       2022-12-30 15:18:00
2       2022-12-30 15:56:00
3       2022-12-30 10:25:00
4       2022-12-29 17:44:00
...                     ...
16036   2016-09-01 16:31:00
16037   2016-11-09 10:39:00
16038   2016-09-14 13:44:00
16039   2016-09-14 12:53:00
16040   2016-09-14 13:44:00

[16041 rows x 10 columns]>

In [ ]:
df = df.drop(columns=['Categoría'], axis=0) #axis = 1 --> se borra una columna
                                              #axis = 0 --> se borra una fila